body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #e0f2f7, #f0f8ff);
  color: #333; 
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 1.1rem;
  scroll-behavior: smooth; 
}

.navbar {
  background-color: white;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 100; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-left: 1.5rem;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: normal;
}

.nav-links a:hover{
  text-decoration: underline;
}


.weather {
  background-color: #eee;
  padding: 1rem;
  border-radius: 5px;
}

.cv-container {
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 800px;
  margin: 6rem auto 2rem; 
  padding: 3rem;
}
.profile-image-container{
  display: flex;
  align-items: center;
  justify-content: center;
}


.contact {
  text-align: center;
  margin-bottom: 2rem;
}

.contact p,
.contact a {
  font-size: 1rem;
  color: #333;
}
.contact a{
  color: #0056b3;
  font-weight: bold;
}

.contact p {
  margin-bottom: 0.5rem;
}


.profile-pic-contact{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  color: #003366;
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

ul,ol {
  padding-left: 2rem;
}

li {
  margin-bottom: 0.8rem;
  line-height: 1.4;
  list-style: disc;
  border-bottom: 1px dashed #eee;
  padding-bottom: 0.5rem;
}

a {
  color: #0056b3;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}